# Esteroides +10
# Klipper printer.cfg for "Anycubic Kossel Plus"
# Toqueteado por @correos
# TriGorilla board which is an AVR ATmega2560 Arduino + RAMPS
# compatible board. To use this config, the firmware should be
# compiled for the AVR atmega2560.

# See the example.cfg file for a description of available parameters.

[stepper_a]
arm_length: 267
step_pin: ar54
dir_pin: ar55
enable_pin: !ar38
step_distance: .0125
endstop_pin: ^ar2
homing_speed: 60
#position_endstop: 301
position_endstop: 301.367232
#angle: 90
angle: 90.053255

[stepper_b]
step_pin: ar60
dir_pin: ar61
enable_pin: !ar56
step_distance: .0125
endstop_pin: ^ar15
#angle: 210
position_endstop: 301.092982
angle: 210.061794

[stepper_c]
step_pin: ar46
dir_pin: ar48
enable_pin: !ar62
step_distance: .0125
endstop_pin: ^ar19
#angle: 330
position_endstop: 300.737168 
angle: 330.000000

[tmc2130 stepper_a]
cs_pin: ar4
microsteps: 16
interpolate: True
run_current: 0.9
hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 140
#driver_IHOLDDELAY: 8
driver_TPOWERDOWN: 128
#Temperatura critica
#driver_BLANK_TIME_SELECT: 1
#driver_TOFF: 4
#driver_HEND: 7   o 0
#driver_HSTRT: 0  o 7
#driver_PWM_AUTOSCALE: True
#driver_PWM_FREQ: 1
#driver_PWM_GRAD: 4
#driver_PWM_AMPL: 128
#driver_SGT: 0
#   Set the given register during the configuration of the TMC2130
#   chip. This may be used to set custom motor parameters. The
#   defaults for each parameter are next to the parameter name in the
#   above list.
#diag1_pin:
#   The micro-controller pin attached to the DIAG1 line of the TMC2130
#   chip. Setting this creates a "tmc2130_stepper_x:virtual_endstop"
#   virtual pin which may be used as the stepper's endstop_pin. Doing
#   this enables "sensorless homing". (Be sure to also set driver_SGT
#   to an appropriate sensitivity value.) The default is to not enable
#   sensorless homing.

[tmc2130 stepper_b]
cs_pin: ar5
microsteps: 16
interpolate: True
run_current: 0.9
hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 140
#driver_IHOLDDELAY: 8
driver_TPOWERDOWN: 128
#driver_BLANK_TIME_SELECT: 1
#driver_TOFF: 4
#driver_HEND: 7
#driver_HSTRT: 0
#driver_PWM_AUTOSCALE: True
#driver_PWM_FREQ: 1
#driver_PWM_GRAD: 4
#driver_PWM_AMPL: 128
#driver_SGT: 0
#diag1_pin:

[tmc2130 stepper_c]
cs_pin: ar6
microsteps: 16
interpolate: True
run_current: 0.9
hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 140
#driver_IHOLDDELAY: 8
driver_TPOWERDOWN: 128
#driver_BLANK_TIME_SELECT: 1
#driver_TOFF: 4
#driver_HEND: 7
#driver_HSTRT: 0
#driver_PWM_AUTOSCALE: True
#driver_PWM_FREQ: 1
#driver_PWM_GRAD: 4
#driver_PWM_AMPL: 128
#driver_SGT: 0
#diag1_pin:

[extruder]
step_pin: ar26
dir_pin: !ar28
enable_pin: !ar24
step_distance: 0.010989
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: ar10
sensor_type: EPCOS 100K B57560G104F
sensor_pin: analog13
control: pid
pid_Kp=27.779
pid_Ki=1.260
pid_Kd=153.134
min_extrude_temp: 160
min_temp: 0
max_temp: 275
pressure_advance: 0.05
pressure_advance_lookahead_time: 0.010


[heater_bed]
heater_pin: ar8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: analog14
control: pid
pid_Kp: 10.0
pid_Ki: 0.025
pid_Kd: 305.0
min_temp: 0
max_temp: 120

[fan]
pin: ar9
kick_start_time: 0.200

[heater_fan extruder_cooler_fan]
pin: ar44
heater_temp: 50.0

[heater_fan stepstick_fan]
pin: ar7
max_power: 1.0
#shutdown_speed:
#cycle_time:
#hardware_pwm:
#kick_start_time:


[mcu]
serial: /dev/ttyUSB0
pin_map: arduino

[printer]
kinematics: delta
max_velocity: 300
max_accel: 2000
max_z_velocity: 300
#delta_radius: 134
delta_radius: 135.200867
minimum_z_position: -30
square_corner_velocity: 60
#   The maximum velocity (in mm/s) that the toolhead may travel a 90
#   degree corner at. A non-zero value can reduce changes in extruder
#   flow rates by enabling instantaneous velocity changes of the
#   toolhead during cornering. This value configures the internal
#   centripetal velocity cornering algorithm; corners with angles
#   larger than 90 degrees will have a higher cornering velocity while
#   corners with angles less than 90 degrees will have a lower
#   cornering velocity. If this is set to zero then the toolhead will
#   decelerate to zero at each corner. The default is 5mm/s.

[idle_timeout]
timeout: 360

[probe]
pin: ^ar18
#x_offset: 0.0
#y_offset: 0.0
z_offset: 20.2
speed: 5.0
#activate_gcode:
#   A list of G-Code commands (one per line) to execute prior to each
#   probe attempt. This may be useful if the probe needs to be
#   activated in some way. The default is to not run any special
#   G-Code commands on activation.
#deactivate_gcode:
#   A list of G-Code commands (one per line) to execute after each
#   probe attempt completes. The default is to not run any special
#   G-Code commands on deactivation.

[delta_calibrate]
radius: 90
speed: 50
horizontal_move_z: 30
manual_probe: false

[virtual_sdcard]
path: ~/.octoprint/uploads/

[display]
lcd_type: hd44780
rs_pin: ar16
e_pin: ar17
d4_pin: ar23
d5_pin: ar25
d6_pin: ar27
d7_pin: ar29
encoder_pins: ^!ar31, ^!ar33
click_pin: ^!ar35
menu_timeout: 15
#kill_pin: ar41
#   The pin connected to 'kill' button. This button will call

#   emergency stop.
#menu_root:
#   Entry point for menu, root menu container name. If this parameter
#   is not provided then default menu root is used. When provided
#   menu entry is 'deck' type then it'll be initiated immediately at startup.
#   Description of menu items is located in example-menu.cfg file.